name: Publish

on:
  push:
    branches:
      - 'main'

permissions:
  id-token: write # Required for OIDC
  contents: read
  packages: write

jobs:
  publish-rust:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Publish
        uses: katyo/publish-crates@33e1d18666cdfacf9f6c3547194d2c1d39cbf849 # (v2)
        with:
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          ignore-unpublished-changes: true
          path: ./rust

  publish-js:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Install Mise
        uses: caido/action-mise-action@v3.2.0
        with:
          working_directory: .
          version: ${{ vars.CI__MISE_VERSION }}

      - name: Install dependencies
        working-directory: ./js
        run: pnpm install

      - name: Build
        working-directory: ./js
        run: pnpm run build

      - name: Publish
        working-directory: ./js
        run: pnpm -r publish --access public

      - name: Publish internal
        working-directory: ./js
        env:
          NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mv .npmrc.github .npmrc
          pnpm -r publish --no-git-checks
